
<div class="border" style=" outline: 1px groove #010;">

	<h3><%=link_to tour.title, tour_path(tour.id) %></h3>
<small>
			<time><%= tour.created_at.to_date.strftime("%d %B, %Y") %></time>
</small>
<p><%= tour.shortbody %></p>

</div>