<div class="main main_height">
  <div class="container my-container ">
    	<div class="content">
    	<h1 align="center"><%= @tour.title %></h1>
			<div class="col-md-12" style="text-align: justify;">
				<p>Опис: <%=@tour.shortbody %></p>
				<%= @tour.body%>
			</div>
			price : <%= @tour.price%>

		</div>
	</div>
</div>
