<h1>Pages#index</h1>
<% if current_user.nil? %>
    <%= link_to user_session_path do %>
       Login
     
      <%end%>
      <% else %> 
      <%= link_to destroy_user_session_path, method: :delete do %>  Logout
      <%end%>
      <%end%>