<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->




<section class="index-link">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="link-area">
                    <h3>ABOUT US</h3>
                    <P>Building Consensus among your Senior leaders to leverage your digital strengths and work on gaps which are hindering your growth.</P>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>PRODUCT</h3>
                    <ul>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>COMPANY</h3>
                    <ul>
                    <li><a href="#"> Home</a></li>
                    <li><a href="#"> Blog</a></li>
                    <li><a href="#"> About</a></li>
                    <li><a href="#"> contact</a></li>
                    <li><a href="#"> Jobs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="link-area">
                    <h3>LEARM MORE</h3>
                    <ul>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    <li><a href="#"> Services-1</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="index-social">
    <div class="container">
    <div class="row index-social-link text-center">
        </div>
        </div>
</section>